.privatisation-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
//   max-width: 1280px;
  margin: 100px auto;
  flex-wrap: wrap; // pour mobile
}

/* Bloc texte uniquement avec fond */
.privatisation-text {
  flex: 1;
  background-color: #D6910D;
  color: white;
  padding: 60px 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;


}

.privatisation-h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.privatisation-p {
    font-size: 18px;
    line-height: 1.6;
}

/* Bloc image sans fond */
.privatisation-image {
  flex: 1;
  min-width: 320px;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
  }
}
