.textHome {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
